body{
  background-color: #333;
}
#pong {
    display: block;
    margin: 0 auto;
  }
  .box-pong{
    height: 100vh;
  }
  #gameOverText {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #fff;
  }
  #restartButton {
    display: block;
    margin: 10px auto;
    color: #fff;
  }